.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.bclr{
    background-color:#F1F1F3 ;
}
/* margin */
.mrgn{
    margin: 0px 160px;
}
/* nav style  */
nav ul li{
    list-style: none;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.navBtn{
    color: rgb(0, 106, 80);
font-family: Fira Sans;
font-weight: 600px;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
font-weight: 600px;
font-size: 18px;
border: none;
box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
padding: 15px 30px 15px 30px;
}

/* Banner style */
.banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     gap: 64px;
     background-color: rgb(198, 228, 214);
border-radius: 24px;
padding: 80px 100px 80px 100px;
}
.bd2{
    color: rgba(14, 14, 14, 0.5);
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.herofont{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
}
.heroimg{
    width: 474.03px;
height: 329.21px;
}
.bannerbtn{
    border: none;
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    position: static;
width: 270px;
height: 56px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48px;
padding: 17px 34px 17px 34px;
}

/* main */
.hfont{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.pfonts{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.parafont{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

}
.pillars{
    display: flex;
    gap: 80px;
}
.pborder{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
padding: 24px;
}

/* card style */
.cards{
    display: flex;
    gap:24px ;

}
.card1{
border-radius: 16px;
padding:32px ;
background: rgba(84, 144, 245, 0.2);
}
.card2{
    box-sizing: border-box;
    padding: 32px;
border-radius: 16px;

background: rgb(198, 228, 214);
}
.card3{
    box-sizing: border-box;
    padding: 32px;
border-radius: 16px;

background: rgb(247, 235, 207);
}

.card1btn{
    border-radius: 8px;
    color:rgb(255, 255, 255) ;
background: rgb(84, 144, 245);
padding: 11px 20px 11px 20px;
border-style: none;
font-family: Fira Sans;
font-size: 16px;
font-weight: 600px;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}
.card2btn{
    border-radius: 8px;
background: rgb(9, 161, 92);
padding: 11px 20px 11px 20px;
border-style: none;
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600px;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}
.card3btn{
    border-radius: 8px;
background: rgb(255, 194, 57);
padding: 11px 20px 11px 20px;
border-style: none;
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600px;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}

/* speach */
.nfont{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.scard{
    margin-top: 32px;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
padding: 48px 24px 48px 24px;
background: rgb(255, 255, 255);
}
.scontent{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
}

/* table  */
table{
    margin: 32px;    border-collapse: collapse;
    width: 100%;
height: 50px;
}
/* table body border */
.brd{
    padding: 32px;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgba(255, 255, 255, 0.1);
}
/* tbale head without border */
.twbrd{
    padding: 32px;
    box-sizing: border-box;
background: rgba(255, 255, 255, 0.1);
}
.tbtn{
    box-sizing: border-box;
border: 1px solid rgb(14, 14, 14);
border-radius: 4px;
background: rgb(198, 228, 214);
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
padding: 10px 14px 10px 14px;
}
.thd{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(198, 228, 214);
}
.tfont{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.newsContainer{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 24px;

background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 48px;
    margin: 24px;

}
.newsBtn{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600px;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border: none;
    border-radius: 8px;
background: rgb(0, 106, 80);
padding: 13px 26px 13px 26px;
}
.dnt{
    text-align: center;
    justify-content: center;
}
.c{
    margin: 24px;
    display: flex;
    justify-content: space-around;
}
.dntBg{
    padding: 25px 65px;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
}
.dntBg2{
    padding: 25px 65px;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(198, 228, 214);
}
.otherAm{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
padding: 20px 40px 20px 40px;
}
.of{
    text-align: center;
    justify-content: center;
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
}
.text-center{
    text-align: center;
}
.donateBtn{
    margin: 32px;
    padding: 17px 34px 17px 34px;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.sc{
    margin: 32px;
}

.newsLetter{
height: 255px;
    margin: 70px;
    border-radius: 24px;
background: rgb(198, 228, 214);
padding: 80px 100px 80px 100px;
}
.nl{
    display: flex;
    margin: 24px;
    align-items: center;
    justify-content: center;
}
input[type="email"]{
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 600px;
    height: 55px;
    border-radius: 8px 0px 0px 8px;

background: rgb(255, 255, 255);
}
input[type="number"]{
    margin: 32px;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
padding: 20px 40px 20px 40px;
color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 20px;
font-weight: 400px;
line-height: 24px;
letter-spacing: 0%;
}
.subbtn{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600px;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
    border-radius: 0px 8px 8px 0px;
    padding: 17px 34px 17px 34px;
background: rgb(0, 106, 80);
border: none;
}
.npara{
    margin-top: 35px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400px;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
}
.ft{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700px;
line-height: 38px;
letter-spacing: 0%;
}
.fpng{
    margin: 33px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 23px;
}
.ftr{
    margin: 80px;
}
.fgc{
    border-radius: 24px;
}
/* General button hover effect */
button:hover {
    background-color:aquamarine;
    color: #fff;
    transform: scale(1.05); 
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .mm{
    margin: 24px;
  }
  